<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
        <section name="RestfulWebService" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <specFlow>
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <unitTestProvider name="MsTest" />
    </specFlow>
    <appSettings>
        <add  key="ApiServiceSiteName" value="http://localhost:8888"/>
    </appSettings>
    <RestfulWebService>
        <add key="AESKey_1" value="123456789012345678901234" />
        <add key="AESIV_1" value="12345678" />
        <add key="AESKey_2" value="123456789012345678901234A" />
        <add key="AESIV_2" value="12345678A" />
        <add key="AESKey_3" value="123456789012345678901234B" />
        <add key="AESIV_3" value="12345678B" />
        <add key="CurrentVersion" value="2" />
        <add key="HashKey_1" value="ABCDEFGHIJ" />
        <add key="HashKey_2" value="1234567890" />
    </RestfulWebService>
</configuration>