<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ResourceTest" connectionString="" providerName="System.Data.SqlClient"/>
        <add name="InvalidProvider" connectionString="" providerName="NotExists"/>
        <add name="CommonDaoTest" connectionString="" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>