<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="security" providerName="System.Data.SqlClient" connectionString="server=alpha.db.principal.security; user id=privilegeuser; password=12uuiaggi8"/>
        <add name="sale"  providerName="System.Data.SqlClient" connectionString="server=alpha.db.principal.sale; database=sale; user id=saleuser; password=12uuiaggi8"/>
    </connectionStrings>
</configuration>